<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html" charset="UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Website Contact</h1>
        
        <p>This Visitor Requested Contact</p>
        <p><%= @contact.name %></p>
        <p><%= @contact.email %></p>
        <p>And he said also:</p>
        <p><%= @contact.content %></p>
    </body>
</html>